@import 'normalize.css';

// FONTELLO FONTS
@font-face {
  font-family: 'fontello';
  src: url('../static/font/fontello.eot?84071165');
  src: url('../static/font/fontello.eot?84071165#iefix') format('embedded-opentype'),
       url('../static/font/fontello.woff2?84071165') format('woff2'),
       url('../static/font/fontello.woff?84071165') format('woff'),
       url('../static/font/fontello.ttf?84071165') format('truetype'),
       url('../static/font/fontello.svg?84071165#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
 font-family: "fontello";
 font-style: normal;
 font-weight: normal;
 speak: none;
 display: inline-block;
 text-decoration: inherit;
 width: 1em;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon-right-open:before {
  content: '\e800';
}

.icon-left-open:before {
  content: '\e801';
}

// PRIMARY PAGE STYLE
$primary: #191919;
$btn: #0000C0;

body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  background: $primary;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  #apod {
    max-width: 85%;
    margin: 30px auto;
    text-align: center;
  }
  #apod-resource {
    text-align: center;
    #apod-img {
      max-width: 95%;
      padding: 1.5%;
      background: darken($primary, 5%);
      border-radius: 0.3em;
    }
    #apod-vid-wrapper {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;
      #apod-vid {
        border: 0;
        position: absolute;
        top: 0;
        left: 1%;
        width: 98%;
        height: 100%;
      }
    }
  }
  #apod-date {
    margin-top: 20px;
    font-size: 1.4em;
  }
  #apod-title {
    max-width: 1000px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: normal;
    font-size: 2.25em;
  }
  #apod-desc {
    margin: 20px auto;
  }
  #apod-button-row {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    .apod-button {
      padding: 8px 13px;
      border-radius: 8px;
      background: $btn;
      .icon-left-open {
        margin-right: 0.25em;
        position: relative;
        right: 0;
        transition: 0.2s right ease;
      }
      .icon-right-open {
        margin-left: 0.25em;
        position: relative;
        left: 0;
        transition: 0.2s left ease;
      }
      &:hover {
        background: lighten($btn, 10%);
        .icon-left-open {
          right: 0.25em;
        }
        .icon-right-open {
          left: 0.25em;
        }
      }
    }
    .apod-button, .apod-button:hover, .apod-button:active {
      font-weight: normal;
      text-decoration: none;
      color: white;
      outline: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  #apod-title {
    &:before, &:after {
      content: "";
      display: inline-block;
      width: 10%;
      margin: 0 .5em 0 -55%;
      vertical-align: middle;
      border-bottom: 1px solid;
    }
    &:after {
      margin: 0 -55% 0 .5em;
    }
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
}
